annotlib==1.0.0
iteration_utilities==0.11.0
jupyterlab==3.6.8
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
Pillow>=10.0.0
pytorch-lightning==1.8.3.post1
requests==2.31.0
sacred==0.8.2
scikit-activeml==0.3.1
scikit-learn==1.1.3
scipy==1.10.0
ipywidgets==7.6.3
